body {
    color: white;
}

#cover {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

#profile {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

@keyframes fadeEffect {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
#upArrows {
    animation: fadeEffect 3s infinite;
    opacity: 0;
  }

.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}
  
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    pointer-events: none; /* This prevents the image from blocking interactions with the content */
    z-index: -1; /* Set a negative z-index to place the image behind the content */
}

.mobile-background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    pointer-events: none; /* This prevents the image from blocking interactions with the content */
    z-index: -1; 
}

.cover-image {
    width: 100%;
}

.profile-picture {
    box-shadow: 0px 0px 40px black;
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
    opacity: 0.9;
    width: 30%;
}

/*////////////////////////////////////////////////////////*/

@media (min-width: 1081px) {
    .mobile-profile-picture {
      display: none;
    }  
}

@media (min-width: 1081px) {
    .mobile-background-image {
    display: none;
    }
}

@media (min-width: 1081px) {
    .arrows {
    display: none;
    }
}

.content {
    background-color: rgba(100, 100, 100, 0.1);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 40px black;
    margin-bottom: 7%;
    margin-left: 41.5%;
    margin-top: 5%;
    padding: 2% 2%;
    text-align: center;
    width: 40%;
}

.div-profile {
    margin-bottom: 30%;
}

.div-about-me {
    margin-bottom: 25%;
}

.div-experience {
    margin-bottom: 15%;
}

.div-references {
    margin-bottom: 15%;
}

.div-education {
    margin-bottom: 15%;
}

.skills-hobbies {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15%;
    width: 100%;
}

.skills {
    text-align: left;
    width: 50%;
}

.hobbies {
    text-align: left;
    width: 50%;
}

.projects-contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.projects {
    width: 50%;
}

.contact {
    width: 50%;
}

.container-footer {
    bottom: 100%;
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
}

/*////////////////////////////////////////////////////////*/

h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 5%;
    text-shadow: 0px 0px 8px white;
}

h2 {
    font-size: 2.5rem;
    text-shadow: 0px 0px 8px white;
}

.h2-company {
    font-style: italic;
    font-weight: lighter;
    text-shadow: 0px 0px 8px white;
}

.h2-projects {
    font-size: 2.5rem;
    text-shadow: 0px 0px 8px white;
}

h3 {
    text-shadow: 0px 0px 8px white;
}

h5 {
    margin-top: 4%;
    text-shadow: 0px 0px 8px white;
}

p {
    font-size: 1.2rem;
    line-height: 2;
    margin-bottom: 5%;
    margin-top: 3%;
    text-shadow: 0px 0px 8px white;
}

.link-project {
    color: red;
    font-size: 1.3rem;
    text-shadow: 0px 0px 2px white;
}

.btn {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 5%;
    text-shadow: 0px 0px 2px white;
}

.copyright-text {
    margin: 0;
    text-shadow: 0px 0px 8px white;
}

.link-footer {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0px 0px 6px white;
}

ul {
    font-size: 1.2rem;
    margin-left: 23%;
    text-shadow: 0px 0px 8px white;
}

.h2-skills {
    margin-bottom: 5%;
    margin-left: 20%;
}

.h2-languages {
    margin-bottom: 5%;
    margin-left: 20%;
    margin-top: 14.5%;
}

hr {
    border: 3px solid;
    border-color: white;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    box-shadow: 0px 0px 8px white;
    width: 70%;
}

.hr-profile {
    border: 3px solid;
    border-color: white;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: 0px 0px 8px white;
    width: 70%;
}









@media (min-width: 1081px) and (max-width: 1440px) {

    .content {
        margin-bottom: 13%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    ul {
        margin-left: 15%;
    }
    
    .h2-skills {
        margin-left: 12%;
    }
    
    .h2-languages {
        margin-left: 12%;
        margin-top: 25.5%;
    }

    .projects {
        margin-bottom: 15%;
        width: 100%;
    }
    
    .contact {
        width: 100%;
    }

    .h2-projects {
        font-size: 3rem;
    }

    .link-project {
        color: red;
        font-size: 1.5rem;
        text-shadow: 0px 0px 2px white;
    }


}








@media (max-width: 1080px) {

    .background-image {
        display: none;
    }

    .header {
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }
      
    .mobile-profile-picture {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 80px black;
        left: 0;
        margin-left: 3%;
        margin-top: 3%;
        position: fixed;
        top: 0;
        width: 40%;
        z-index: 3;
    }

    .content {
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(6px);
        height: 70%;
        left: 0;
        margin-left: 7.5%;
        margin-top: 50%;
        overflow-x: hidden;
        overflow-y: scroll;
        position: fixed;
        scrollbar-width: none;
        top: 0;
        width: 85%;
        -ms-overflow-style: none;
    }

    .content::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }

    .div-profile {
        display: none;
    }

    .div-about-me {
        margin-bottom: 5%;
    }

    .projects-contact {
        margin-bottom: 5%;
    }

    .projects {
        width: 100%;
        margin-bottom: 15%;
    }
    
    .contact {
        width: 100%;
    }

    .container-footer {
        margin-top: 180%;
    }

    h1 {
        font-size: 5.5rem;
    }

    .h1-mobile-name {
        font-size: 5.5rem;
        margin-left: 46%;
        position: fixed;
        text-align: left;
        top: 2%;
    }
    
    h2 {
        font-size: 3.8rem;
    }

    .h2-about-me {
        font-size: 4rem;
    }

    .h2-mobile-position {
        font-size: 2.8rem;
        margin-left: 45.5%;
        position: fixed;
        text-align: left;
        top: 10%;
    }
    
    .h2-company {
        font-size: 3.5rem;
    }
    
    .h2-projects {
        font-size: 5.5rem;
    }
    
    h3 {
        font-size: 2.8rem;
    }
    
    h5 {
        font-size: 3.5rem;
    }
    
    p {
        font-size: 3rem;
        line-height: 2;
        margin-bottom: 10%;
    }

    hr {
        border: 3px solid;
        margin-bottom: 3%;
        margin-top: 3%;
        width: 70%;
    }

    .hr-mobile {
        border: 3px solid;
        margin-bottom: 0;
        margin-top: 2%;
        width: 90%;
    }
    
    .link-project {
        font-size: 3.5rem;
    }
    
    .btn {
        font-size: 3.5rem;
        margin-bottom: 5%;
        width: 50%;
    }

    .copyright-text {
        color: black;
        font-size: 2rem;
    }
    
    .link-footer {
        color: black;
        font-size: 2.5rem;
    }
    
    ul {
        font-size: 2rem;
        margin-left: 14%;
    }
    
    .h2-skills {
        margin-left: 8%;
    }
    
    .h2-languages {
        margin-left: 8%;
        margin-top: 23.5%;
    }

}